<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>14745994315-g95ni2pgkkh5uiob7fc3bbndg3934qgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14745994315-g95ni2pgkkh5uiob7fc3bbndg3934qgt</string>
	<key>API_KEY</key>
	<string>AIzaSyDt28tMDRBnGGiniAamPLlNA2MvddTC3Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>14745994315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheesecakeapp</string>
	<key>PROJECT_ID</key>
	<string>health-social</string>
	<key>STORAGE_BUCKET</key>
	<string>health-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14745994315:ios:127e194d3457393c</string>
	<key>DATABASE_URL</key>
	<string>https://health-social.firebaseio.com</string>
</dict>
</plist>